*~
db.sqlite3
duckdb
stats.duckdb
stats.duckdb.wal
*.pyc
.DS_Store

vendor/repostat
web/dist

data/**
!data/.gitkeep

logs/**
!logs/.gitkeep

beatsight/local_settings.py

conf/gunicorn.conf.py
conf/nginx.conf
conf/supervisord.conf

node_modules/
static-local/CACHE/