[program:beatsight]
command=/home/ubuntu/.local/bin/gunicorn -c /home/ubuntu/beatsight/conf/gunicorn.conf.py
directory=/home/ubuntu/beatsight
user=ubuntu
stdout_logfile=/home/ubuntu/beatsight/logs/gunicorn-access.log
stderr_logfile=/home/ubuntu/beatsight/logs/gunicorn-error.log
redirect_stderr=true
environment=DJANGO_SETTINGS_MODULE="beatsight.settings",PYTHONPATH="/home/ubuntu/beatsight/vendor/repostat"

[program:celery]
command=/home/ubuntu/.local/bin/celery -A beatsight worker --loglevel=info
directory=/home/ubuntu/beatsight
user=ubuntu
stdout_logfile=/home/ubuntu/beatsight/logs/celery.log
redirect_stderr=true
environment=DJANGO_SETTINGS_MODULE="beatsight.settings",PYTHONPATH="/home/ubuntu/beatsight/vendor/repostat"

[program:beat]
command=/home/ubuntu/.local/bin/celery -A beatsight beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
directory=/home/ubuntu/beatsight
user=ubuntu
stdout_logfile=/home/ubuntu/beatsight/logs/beat.log
redirect_stderr=true
environment=DJANGO_SETTINGS_MODULE="beatsight.settings",PYTHONPATH="/home/ubuntu/beatsight/vendor/repostat"
