@font-face {
  font-family: 'Lusitana';
  src: local('Lusitana'), url('./fonts/Lusitana-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lusitana';
  src: local('Lusitana'), url('./fonts/Lusitana-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
